body {
  background-color: #385dff;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 10px;
  background-color: rgb(255, 60, 60);
  padding: 15px;
  border: solid 2px #000000 ;
  border-radius: 15px;
  width: 100px;
}
.menu a:hover{
  background-color: rgb(65, 65, 252);
  transform: scale(1.2);
}